Opus decoder sends invalid samples to output

<!-- See https://www.musicpd.org/help/ -->
## Bug report
### Describe the bug
I noticed a short glitch at the start or end of some Opus files and found an explanation in the Opus decoder implementation. The decoder doesn't use the pre-skip value in the Opus header, nor does it use the granule position of the last packet. Invalid audio data that should be discarded is sent to the output, possibly causing glitches.

The pre-skip value in the Opus header indicates the number of decoded samples at the start of a stream that should be discarded. The granule position of the last packet in an Opus stream indicates the last decoded sample position to be used. All remaining decoded samples should be discarded.

The handling of pre-skip and granule position is described in detail in RFC 7845, section 4.